<main>
    <section>
        <h2>Products</h2>
        <form action="/api/products" method="post">
            <input type="text" name="tittle" id="tittle" placeholder="Tittle">
            <input type="text" name="stock" id="stock" placeholder="Stock">
            <input type="text" name="price" id="price" placeholder="Price">
            <input type="text" name="description" id="description" placeholder="Description">
            <input type="submit" value="SIGNUP">
        </form>
        <p>Recordatorio: los productos se añaden al final de la pagina</p>
    </section>
    <section>
        <ul>
        {{#each data.payload}}
            <li>
                <a class="tittleLinks" idProduct="{{_id}}" href="#" >Tittle: {{tittle}}</a>
                <p>Price: {{price}}</p>
                <p>Stock: {{stock}}</p>
                <button class='addProduct' idProduct="{{_id}}" >Agregar al carrito</button>
            </li>
        {{/each}}
        </ul>
    
        {{#if data.hasPrevPage}}
        <a href="{{data.prevLink}}"><button>←</button></a>
        {{/if}}

        {{#if data.hasNextPage}}
        <a href="{{data.nextLink}}"><button>→</button></a>
        {{/if}}        
        
    </section> 
</main>
<script type="module" src="js/addProduct.js"></script>
<script type="module" src="js/redirectProduct.js"></script>